VITE_SUPABASE_URL=https://dkvgpeflcxkmcaigjrxm.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRrdmdwZWZsY3hrbWNhaWdqcnhtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU2Mjg3NTEsImV4cCI6MjA5MTIwNDc1MX0.0q3qLger3N44u19HTcLH0W6T8EkYlGPPPzKfh3nw7Kc
